{{>header}}
<main>
    <form>
        <h1>Área para publica novo contéudo</h1>
        <div style="position: relative; flex-direction:column;"><label for="title"
                style="position: absolute; left:10px; top:-30px;"><strong> Título - </strong></label><input type="text"
                placeholder="ex: Meu primeiro código em python" id="title"></div>
        <div style="position: relative; flex-direction:column;"><label for="body"
                style="position: absolute; left:10px; top:-30px;"><strong>Corpo da sua publicação - </strong></label>
                <textarea style="resize: none;" id="body"></textarea>
                </div>
            <div class="div__buttons"><button>Cancelar</button><button id="publicar">Publica</button></div>
    </form>
</main>