main {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}

main form {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}
main form h1 {
    text-align: center;
    margin-top: 5vh;
}
main form div {
    margin: 15px;
    display: flex;
    gap: 10px;
}

main form input {
    padding: 10px;
    font-size: 1em;
    outline: none;
    border: none;
    background-color: #f8efed;
    border-radius: 5px;
}
main form input:focus {
    outline: 2px solid #006CE7;
}


@media (max-width: 730px) {
    main {
        width: 100%;
        min-width: 400px;
        border: none;
        padding: 0;
    }
   
}
main form .div__buttons{
    display:flex;
    justify-content: end;
}
main form .div__buttons div {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    padding: 10px;
    
}
main form .div__buttons div button {
    border: none;
    font-size: 1em;
    cursor: pointer;
    background-color: transparent;
}
main form .div__buttons div #publicar {
    background-color: #006CE7;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.tox-tinymce {
    background-color: #f1dfda;
}
.tox-toolbar-overlord {
    overflow-x:scroll;
}
/* Estilo para a área de conteúdo do TinyMCE */
