header {
    position: relative;
    background-color: #000a10ee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: white;
    padding: 10px;
}

header img {
    width: 50px;
}

header .div__icon {
    display: flex;
    gap: 10px;
    flex-direction: row-reverse;
    align-items: center;
}

header nav {
    display: flex;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
    padding: 10px;
}

header nav ul li {
    transition: 0.2s;
    width: auto;
}
header nav ul li a:hover{
    color: black;
    background-color: white;
} 

header nav .ul__notification li {
    transition: 0.2s;
}

header nav ul li a {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding: 5px;
    transition: 0.2s;
}
header #open__menu,header #close__menu {
    display: none;
    border: none;
    color: white;
    background-color: transparent;
    cursor: pointer;
    
}
header button span {
    font-size: 2.6em;
}
header .span__text {
    display: none;
}

@media (max-width:650px) {
    .report__bug {
        width: 90%;
    }
    header {
        position: relative;
        height: 70px;
        flex-direction: row-reverse;
    }
    header .div__icon {
        position: absolute;
        left: 5px;
    }
    header #close__menu {
        position: absolute;
        top: 26px;
        right: 5px;
    }
    header .span__text {
        display: block;
    }
    header button {
        display: block;
    }
    header nav {
        position: absolute;
        z-index: 3;
        flex-direction: column;
        right: 0;
        top: 70px;
        background-color: #000a10ee;
        display:block;
        z-index: 1;
        border-bottom-left-radius: 5px;
    }
    header nav ul {
        align-items: start;
        justify-content: start;
        border: none;
        flex-direction: column;
    }
    header nav ul li {width:100%;}
    header nav ul li a {
        display: flex;
        gap: 5px;
        align-items: center;
        font-size: 1.1em;
    }
}

header nav ul li .number_notification {
    color: rgb(243, 79, 79);
}

header  .div__notifications {
    background-color: #000a10ee;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 10px;
    right: 0;
    bottom: 0;
    height: 100%;
    padding: 15px;
}