main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.nav__main {
    background-color: #007bff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.nav__main ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav__main ul li {
    margin-right: 20px;
}
.nav__main ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding:5px;
    border-radius: 5px;
    transition: 0.2s;
}
.nav__main ul li a:hover{
    background-color: white;
    color: #007bff;
}
.container__post {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.150);
    border-radius: 5px;
}

.div__post {
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.150);
    padding:10px;
}

.div__username {
    margin-bottom: 5px;
}

.div__username span {
    font-size: 16px;
}
.div__username  a {
    text-decoration: none;
}
.div__username a:hover{
    text-decoration: underline;
}
.div__title {
    margin-bottom: 10px;
}

.div__title strong {
    font-size: 18px;
}
.div__title strong a {
    text-decoration: none;
    color: #007bff;
}
.div__title strong a:hover{
    text-decoration: underline;
}
.div__likes__comments {
    font-size: 14px;
    color: #666;
}

.next__page {
    margin-top: 20px;
    text-align: center;
}

.next__page a {
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 10px;
}
@media (max-width: 730px) {
    .container__post {
        border-radius: 0;
    }
}
@media only screen and (max-width: 630px) {
    main {
        max-width: 100%;
        padding:0;
    }
    .nav__main {
        border-radius: 0;
    }
    .nav__main ul li {
        margin-right: 10px;
    }

    .nav__main ul li a {
        font-size: 14px;
    }

    .div__username span {
        font-size: 14px;
    }

    .div__title strong {
        font-size: 16px;
    }

    .div__likes__comments {
        font-size: 12px;
    }

    .next__page a {
        padding: 8px 16px;
        margin: 0 5px;
    }
}