{{>header}}
<main>
    <h1>Erro 404</h1>
    <strong>Pagina não encontrada</strong>
    <p>Nosso sistema não conseguiu encontra a pagina desejada,sentimos muito D: </p>
    <span><a href="/">Inicio</a></span>
</main>